extends ../templates/base
block extra_css

block content
    h1.title Animation
    .img__wrapper
        img(src="media/img/animation_design.gif")
    
    a.button(href="9.html") prev
    a.button(href="11.html") next

block extra_js
