extends ../templates/base
block extra_css

block content
    h1.title How 2
    .columns
        .text__container
            h4 css
            ul
                li keyframes
                li transitions
        .text__container
            h4 js
            ul
                li ofc with acceleration
        .text__container
            h4 SMIL
            ul
                li Synchronized Multimedia Integration Language
                li it's kinda dying
                li can animate pseudo elements, bg
    
    a.button(href="10.html") prev
    a.button(href="12.html") next

block extra_js
