extends ../templates/base
block extra_css

block content
    h1.title Libs
    .text__container
        ul
            li Greensock.js
            li Anime.js
            li Snap.svg
            li mo.js
    
    a.button(href="11.html") prev
    a.button(href="13.html") next

block extra_js
