extends ../templates/base
block extra_css

block content
    h1.title Interaction
    .img__wrapper
        img(src="media/img/interaction_sidebar.gif")
    
    a.button(href="13.html") prev

block extra_js
