extends ../templates/base
block extra_css

block content
    h1.title
    .columns 
        .text__container
            h4 Grafika 2D definiowana w
            ul
                li xml
                li ahtmlnimacja
        .text__container
            h4 Dopuszcza 3 typy obiektów graficznych
            ul
                li ścieżka
                li bitmapę
                li text
    a.button(href="3.html") prev
    a.button(href="5.html") next

block extra_js




