extends ../templates/base
block extra_css

block content
    h1.title Construction
    .columns
        .text__container
            h4 Basic shapes
            ul
                li rect
                li circle
                li elipse
                li line
                li polyline
                li polygon
                li path
        .text__container
            h4 Defs use later
            ul
                li linearGradient
                li symbols
                li filters
        .text__container
            h4 Dopuszcza 3 typy obiektów graficznych
            ul
                li ścieżka
                li bitmapę
                li text
    a.button(href="5.html") prev
    a.button(href="7.html") next

block extra_js















