extends ../templates/base
block extra_css

block content
    h1.title Optimization
    .img__wrapper
        img(src="media/img/optimization.gif")
    
    a.button(href="8.html") prev
    a.button(href="10.html") next

block extra_js
