extends ../templates/base
block extra_css

block content
    h1.title SVG
    .text__container
        ul
            li know how
            li animacja
            li interakcja
    a.button(href="index.html" style="visibility: hidden;")
    a.button(href="2.html") next

block extra_js
